#track {
    background-color: #f5f5f5;

}
#video{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#wrapper div{
    text-align:center;
}
body{
background-image: url('../img/blk-bg.png');
}
#streams {
    text-align:center;

    margin-left:auto;
    margin-right:auto;
}
.fixed-link {
    position:fixed;
    bottom:10px;
    right: 10px;
}
.fixed-link2 {
    position:fixed;
    bottom:10px;
    right: 60px;
}
.fixed-link3 {
    position:fixed;
    bottom:10px;
    right: 110px;
}
header {
    background-color: #f5f5f5;
    text-align: center;
}
.left{
    float:left;
}
/*header img{*/
    /*height:40px;*/
    /*width: 410px;*/
    /*margin-left:5%;*/
/*}*/
#video canvas {
    text-align:center;
}

#preview {
    height: 100px;
    width: 100px;
    background-color: #ffffff;
}

input{
    width:50px;
}
#test-img {
    display:none;
}